In [11]:
import pandas as pd
data = pd.read_excel("Taller1.xlsx")
data.head()

,#,Nombre,¿Por qué estás estudiando análitica estratégica de datos?,Sistema Operativo
0,1,Viviana Márquez,"Me gustan mucho las matemáticas, la programaci...",macOSx
1,2,Jorge Gomez,Desarrollo profesional y proyecto personal.,Windows x64
2,3,Ilvar Dario Sanabria,Muchas de las decisiones se basan en datos y c...,Windows x64
3,4,Camilo Rojas,Trabajo con temas relacionados a gestión de in...,Windows x64
4,5,Xiomy Díaz,En mi experiencia en investigación de mercados...,Windows x64

In [13]:
data_colum = pd.DataFrame(data[['¿Por qué estás estudiando análitica estratégica de datos?']])
for row in data_colum.itertuples(index=True, name='Pandas') :
    texto = "texto" + row[1]

In [14]:
arreglo = texto.split()
arreglo

['textoCreo',
 'que',
 'es',
 'el',
 'futuro,',
 'me',
 'gusta',
 'y',
 'de',
 'cerca',
 'he',
 'visto',
 'el',
 'impacto',
 'positivo',
 'que',
 'genera',
 'en',
 'una',
 'organización']

In [15]:
import collections
words_count = collections.Counter(arreglo)

In [16]:
words_count

Counter({'textoCreo': 1,
         'que': 2,
         'es': 1,
         'el': 2,
         'futuro,': 1,
         'me': 1,
         'gusta': 1,
         'y': 1,
         'de': 1,
         'cerca': 1,
         'he': 1,
         'visto': 1,
         'impacto': 1,
         'positivo': 1,
         'genera': 1,
         'en': 1,
         'una': 1,
         'organización': 1})

In [17]:
dataframe_org=pd.Series(words_count).to_frame('ColumnName')
dataframe_org

              ColumnName
textoCreo              1
que                    2
es                     1
el                     2
futuro,                1
me                     1
gusta                  1
y                      1
de                     1
cerca                  1
he                     1
visto                  1
impacto                1
positivo               1
genera                 1
en                     1
una                    1
organización           1

In [18]:
dataframe_ord=dataframe_org.sort_values(by=['ColumnName'], ascending=False)
dataframe_ord.head(30)

              ColumnName
el                     2
que                    2
textoCreo              1
he                     1
una                    1
en                     1
genera                 1
positivo               1
impacto                1
visto                  1
cerca                  1
de                     1
y                      1
gusta                  1
me                     1
futuro,                1
es                     1
organización           1